#icon {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  background-image: url('https://www.svgrepo.com/show/82662/opened-white-box.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

#icons-wrapper {
  display: flex;
  position: fixed;
  bottom: 10px;
  left: 70px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
  z-index: 999;
  overflow: hidden;
  width: 10px;
  height: 30px;
  transition: width 0.5s ease-out;
}

#icons-wrapper.show {
  width: 200px;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-color: rgba(128, 128, 128, 0.5);
  background-image: url('https://www.svgrepo.com/show/82662/opened-white-box.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.2s ease-out;
  border-radius: 50%;
}

.icon:hover {
  transform: scale(1.2);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

